@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik';
  outline: none;
}
a{
  text-decoration: none;
  color: unset;
}
:root{
  --black: #180202;
  --white: #FFFFFF;
  --white2 : #F7f7f7;
  --dots_grey: #858585;
  --text_grey: #9ca3af;
  --orange: #e85444;
  --clear_orange:#fa6544;
  --icon_black: #131313;

  --orange_hover: #d12600;
  --black_hover: #898989;
  --grey_hover: #ececec;
  --white_hover: #EAEAEA;
}
body{
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
}
#sideBar{
  display: flex;
  flex-direction: column;
  width: 18%;
  justify-content: space-between;
  min-width: 18em;
  height: 100vh;
  padding-inline: 1em;
  padding-block: 1em;
  background-color: var(--white2);
  position: relative;
}
#sideBarTop, #profile{
  position: relative;
  z-index: 2;
}
#sideBar-header{
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-block: 0 2em;
  cursor: default;
}
#sideBar-header svg{
  width: 2em;
  height: 2em;
  padding: .2em;
  fill: white;
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
}
#pages .page, #profile, #createTag{
  display: flex;
  padding: .7em .8em;
  margin-block: 0 1em;
  align-items: center;
  cursor: default;
  border-radius: 5px;
  /* font-size: 1.1em; */
}
#pages .page:hover , #createTag:hover{
  background-color: var(--white_hover);
}
#pages .page svg, #createTag svg{
  margin-inline: 0 1em;
  width: 1.2em;
}
#tagsKey .tags::-webkit-scrollbar {
  width: 0.45em;
}
#tagsKey .tags::-webkit-scrollbar-track {
  background: var(--white);
  border-radius: 20px;
}
#tagsKey .tags::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom,var(--clear_orange),var(--orange_hover));
  border-radius: 20px;
  border: 2px solid var(--primary-color);
}
#tagsKey h3{
  font-weight: 500;
}
#tagsKey .tags{
  display: flex;
  flex-direction: column;
  margin-block: .7em 0;
  max-height: 25vh;
  overflow-y: scroll;
}
#tagsKey .tags .key{
  padding: 0 .8em;
  padding-block: 0 .4em;
  display: flex;
}
#tagsKey .tags .key .tag{
  width: 1em;
  aspect-ratio: 1/1;
  background-color: red;
  border-radius: 50%;
  margin-inline: 0 .5em;
  margin-block: 0 .5em;
}
#tagsKey .tags .key:nth-child(2) .tag{
  background-color: green;
}
#tagsKey .tags .key:nth-child(3) .tag{
  background-color: yellow;
}
#profile{
  background-color: var(--white_hover);
  justify-content: space-between;
}
.bubble{
  position: absolute;
  width: 2em;
  height: 2em;
  background-color: var(--orange);
  border-radius: 50%;
  filter: blur(15px);
  opacity: 70%;
  transition: top 0.05s, left 0.05s;
}
main{
  width: 82%;
  height: 100vh;
  padding: 1.2em;
}
header{
  width: 100%;
}
header h2{
  font-weight: 400;
}
header P{
  font-size: .9em;
  opacity: 70%;
}