#createNoteForm .selectedTags .tag {
  width: 1em;
  height: 1em;
  background-color: red;
  border-radius: 50%;
  margin-inline: 0 0.5em;
}
#createNoteForm .selectedTags .tag:nth-child(2) {
  background-color: green;
}
#createNoteForm .selectedTags .tag:nth-child(3) {
  background-color: yellow;
}

#createTagForm, #createNoteForm {
  top: 35%;
  left: 38%;
  position: absolute;
  text-align: center;
  width: 25em;
  background-color: var(--white);
  padding: 2em 1.5em;
  border-radius: 10px;
  z-index: 4;
  box-shadow: 0px 0px 10px rgba(75, 75, 75, 0.2470588235);
  display: none;
}
.active#createTagForm, .active#createNoteForm {
  display: block;
}
#createTagForm p, #createNoteForm p {
  font-size: 1.2em;
  margin-bottom: 1em;
}
#createTagForm input[type=text], #createNoteForm input[type=text], #createTagForm textarea, #createNoteForm textarea, #createTagForm .tags, #createNoteForm .tags {
  width: 100%;
  margin-block: 0 1.3em;
  border: 1px solid var(--text_grey);
  border-radius: 5px;
  padding-block: 0.8em;
  padding-inline: 1.6em;
  font-size: 1em;
}

#createTagForm #createTagBtn, #createNoteForm #createBtn {
  display: flex;
  justify-content: space-between;
}
#createTagForm #createTagBtn button, #createNoteForm #createBtn button {
  padding-block: 0.8em;
  padding-inline: 2.5em;
  border-radius: 5px;
  color: var(--black);
  font-weight: 400;
  font-size: 1.1em;
}
#createTagForm #createTagBtn button:nth-child(1), #createNoteForm #createBtn button:nth-child(1) {
  background-color: var(--grey_hover);
  border: 1px solid var(--text_grey);
}
#createTagForm #createTagBtn button:nth-child(2), #createNoteForm #createBtn button:nth-child(2) {
  background-color: var(--orange);
  border: 0;
}

#createNoteForm input[type=text] {
  padding-inline: 0.5em;
  margin-block: 0 0.5em;
}
#createNoteForm textarea {
  width: 100%;
  margin-block: 0 0.3em;
  border: 1px solid var(--text_grey);
  border-radius: 5px;
  padding-block: 0.5em;
  padding-inline: 0.5em;
  font-size: 1em;
  resize: none;
}
#createNoteForm .selectedTags {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  margin-block: 0 0.5em;
}
#createNoteForm .selectedTags p {
  margin: unset;
}
#createNoteForm .selectedTags .tag {
  align-self: center;
  margin-inline: 0.5em;
}
#createNoteForm .forTags {
  text-align: left;
  margin-block: 0 0.5em;
}
#createNoteForm .forTags .tags {
  width: 100%;
  padding-block: 0.5em;
  padding-inline: 0.5em;
  font-size: 1em;
  margin-block: 0.5em;
}
#createNoteForm .forTags .tags option {
  font-size: 1em;
}
#createTagForm input[type=text] {
  padding-inline: 0.5em;
  margin-block: 0 0.5em;
}
#createTagForm .dropdown {
  position: relative;
  display: inline-block;
  margin-block: 0 1.3em;
}
#createTagForm .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  max-height: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow-y: scroll;
  cursor: pointer;
}
#createTagForm .dropdown .dropdown-content.show {
  display: block;
}
#createTagForm .dropdown .dropdown-content .cols {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #bcbcbc;
}
#createTagForm .dropdown .dropdown-content .cols .col {
  width: 1em;
  height: 1em;
  border-radius: 50%;
}
#createTagForm .dropdown .dropdown-content .cols:hover {
  background-color: #f1f1f1;
}
#createTagForm .dropdown .dropbtn {
  background-color: var(--white);
  color: black;
  padding: 16px;
  font-size: 16px;
  border: 1px solid var(--text_grey);
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
}
#createTagForm p {
  margin: 0;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
}
#overlay.active {
  display: block;
}

/*# sourceMappingURL=settingsSass.css.map */
